@import url('colors.css');



/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-light-background);
  box-shadow: 0 2px 4px var(--color-shadow);
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.header-menu {
  display: flex;
  gap: 20px;
}


.menu-link {
  font-size: 1rem;
  color: var(--color-text);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: var(--color-border);
}



footer {
  background-color: var(--color-dark-background);
  color: var(--color-sub);
  text-align: center;
  padding: 1vh;
  font-size: 0.9rem;
  box-sizing: border-box;
  text-align: center;
}



h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}





.hilight1 {
  color: var(--color-red)
}

.hilight2 {
  color: var(--color-blue)
}
 */
