@import url('colors.css');

@font-face {
  font-family: 'MyCustomFont';
  src: url('../font/NanumSquare_acB') format('truetype'); /* TTF 파일 경로 */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'MyCustomFont', Arial, sans-serif;
  color: var(--color-sub);
  overflow-x: hidden;
  background-color: var(--color-main);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-light-background);
  box-shadow: 0 2px 4px var(--color-shadow);
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.header-menu {
  display: flex;
  gap: 20px;
}


.menu-link {
  font-size: 1rem;
  color: var(--color-text);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: var(--color-border);
}

section {
  padding: 2%;
  margin: 0;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-in-out;
}

section.show {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background-color: var(--color-dark-background);
  color: var(--color-sub);
  text-align: center;
  padding: 1vh;
  font-size: 0.9rem;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.hilight1 {
  color: var(--color-red)
}

.hilight2 {
  color: var(--color-blue)
}

.button1 {
  background-color: var(--color-sub);
  color: var(--color-main);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  border: none;
  cursor: default;
}